html,body
{
    height: 100%;
}

body
{
    background: #333; /* Page background */
}

/*============================================================================================================================================*/

                                                                            /* General Settings */

.animate
{
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
           
         
}

.button
{
    display:        inline-block;
    background:     rgb(71, 39, 39);
    color:          #000;
    padding:        10px 20px;
    border-radius:  3px;
    font-weight:    bold;
    text-decoration: none;
}


p
{
    line-height: 30px;
    font-size: 18px;
}

/*============================================================================================================================================*/

                                                                            /* Header set-up */

.header
{
    background:     rgb(71, 39, 39); /* menu background ... rgb(71, 39, 39);*/
    text-align:     center;
    font-weight:    bold;
    font-family:    'Candara'; /* Menu font */
}

.header__logo
{
    color:    #fff; 
    float:      left; 
    display:    block; 
    padding:    15px;
    position: fixed;
}

.header__menu
{
    float:      right; 
    margin:     0; 
    padding:    0;
    
}

.header__menu__item
{
    display:inline-block;  
}

.header__menu__item a
{
    color:  #fff; 
    display:  block; 
    padding:  15px;
   
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.header__menu__item a:hover
{
    background: #000;
}


/*============================================================================================================================================*/

                                                                                /* Icon Bar */

.header__icon-bar
{
    display:    block; 
    float:      right; 
    padding:    20px;
    display:    none;
}

.header__icon-bar span
{
    display:        block; 
    height:         3px; 
    width:          30px; 
    background:     #fff; 
    margin-bottom:  5px;
}


/*============================================================================================================================================*/


                                                                            /* Cover Settings */
.cover
{
    height:                 70%;
    background-image:       url(https://source.unsplash.com/1920x1080/?computer,html,apple,windows);
    background-size:        cover;
    -o-background-size:     cover;
    -moz-background-size:   cover;
    background-position:    center center;
    position:               relative;
    animation:              slider 30s infinite linear;
}

@keyframes slider
{
    0%
    {
        background-image: url(https://source.unsplash.com/1920x1080/?computer,html,apple,windows);
    }
    35%
    {
        background-image: url(https://source.unsplash.com/1920x1080/?hacking);
    }
    75%
    {
        background-image: url(https://source.unsplash.com/1920x1080/?microsoft);
    }
}


.cover__filter
{
    background: #000;
    width:      100%;
    height:     100%;
    position:   absolute;
    z-index:    0;
    opacity:    0.4;
}

.cover__caption
{
    display:    table;
    height:     100%;
    width:      100%;
    position:   relative;
    z-index:    1;
    padding:    0 20px;
}

.cover__caption__copy
{
    display:            table-cell;
    vertical-align:     middle;
    text-align:         center;
    font-family:        'Candara';
    color:              #fff;
}

/*============================================================================================================================================*/

                                                                    /* Cards Settings */

.cards
{
    max-width:  1400px;
    margin:     40px auto;
    text-align: center;
}

.card
{
    width:      30%;
    margin:     0 1.5%;
    background: rgb(71, 39, 39); 
    float:      left;
}

.card__image
{
    width:      100%;
    height:     auto;
}

.card__copy
{
    padding: 5px 20px;
}

.card__copy h3
{
   margin-bottom: 0;
}


/*============================================================================================================================================*/
                                                                    /* Banner Settings */
    
.banner
{
    
    text-align: center;
    padding: 50px 230px;
    background: rgb(66, 66, 66); /* Banner background color */
    height: 50%; /* height of the banner */
}

.banner__image
{
    
    width:                  20%;
    float:                  left;
    border-top:             150px;
    height:                 80%; /* height of the image */
    background-image:       url(https://i.imgur.com/bLLmccE.jpg);
    border-radius:          50%;
    background-size:        cover;
    -o-background-size:     cover;
    -moz-background-size:   cover;
    background-position:    center center;
}

.banner__copy
{
    width:      70%;
    float:      left;
    height:     100%; /* height of the image */
    display:    table;
}

.banner__copy__text
{
    
    float:              left; /* qui per staccare l'immagine */
    float:              right;
    font-family:        "Arial"; /* Banner font*/
    background:         rgb(58, 57, 57); /* Banner Background*/
    display:            table-cell;
    padding:            30px;
    /*vertical-align:     middle;*/
   /* border:             3px solid rgb(255, 0, 0); */
}

.banner__copy__text h3
{
   
    font-size:      34px;
    margin-bottom:  0;
}

.banner__copy__text h4
{
    
    font-size:      22px;
    margin:         5px 0;
}

.banner__image__second /* Second banner-image */
{
    width:                  40%;
    float:                  left;
    border-top:             110px;
    height:                 103%; /* height of the image */
    background-image:       url(https://i.imgur.com/Jbm0BG0.jpg);
    border-radius:          0%;
    background-size:        cover;
    -o-background-size:     cover;
    -moz-background-size:   cover;
    background-position:    center center;
}
/*============================================================================================================================================*/

                                                                    /* Footer Settings */

.footer
{
    background:    rgb(71, 39, 39);
    padding:       30px;
    color:         white;
    margin-top:    40px;
}

/*============================================================================================================================================*/

                                                                    /*----------------------
                                                                        Tablet-@media
                                                                    ----------------------*/
@media(max-width: 998px)
{

}


                                                                    /*----------------------
                                                                        Smartphone-@media
                                                                    ----------------------*/
@media(max-width: 767px)
{
    /* Headers */
    .header
    {
        position:   fixed;
        z-index:    100; /* The menu must rest up all stuff. We used a random high value for be sure that nobody can overwrite this rule */
        width:      100%;
    }

    .header__icon-bar
    {
        display: block;
    }

    .header__menu
    {
        width:      100%; 
        height:     0px; 
        overflow:   hidden;
    }
   
    .header__menu__item
    {
        display:block;
    }
   
    .is-open
    {
        height:     300px; 
        overflow:   auto;
    }


    /* Cover */
    .cover
    {
        height: 100%;
    }


    /* Cards */
    .card
    {
        width: 100%;
        margin: 5%;
    }

    /* Banner */
    .banner
    {
        height: 100%;
    }

    .banner__image,
    .banner__copy
    {
        width:      100%;
        height:     30%;
    }
   
}


/*============================================================================================================================================*/

                                                                            /* Cleaning */

.clearfix:after 
{
    visibility:     hidden;
    display:        block;
    font-size:      0;
    content:        " ";
    clear:          both;
    height:         0;
}
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*============================================================================================================================================*/

                                                                    /* Setting-up border style */

*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}