body{background: #eee;}

/* Animation Settings */
.animate
{
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

/* Header set-up */
.header{background:#333;}
.header__logo{color:#fff; float:left; display:block; padding:15px;}
.header__menu{float:right; margin:0; padding:0;}
.header__menu__item{display:inline-block;}
.header__menu__item a{color:#fff; display:block; padding:15px;}
.header__menu__item a:hover{background: #000;}


/* Icon Bar */
.header__icon-bar{display:block; float:right; padding: 20px; display:none;}
.header__icon-bar span{display:block; height:3px; width:30px; background:#fff; margin-bottom:5px;}


/*----------------------
      Tablet-@media
----------------------*/
@media(max-width: 998px)
{

}


/*----------------------
    Smartphone-@media
----------------------*/
@media(max-width: 767px)
{
    .header__icon-bar{display: block;}
    .header__menu{width:100%; height:0px; overflow:hidden;}
    .header__menu__item{display:block;}
    .is-open{height:300px; overflow:auto;}
}


/* Cleaning */
.clearfix:after 
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */